/* .header {
  background-image: url(../../assets/img/Rectangle12.png);
  background-size: cover;
} */
.site-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}